*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}
ul{
    list-style: none;
}

.container{
    width: 1170px;
    margin: 0 auto;
}

/* ======= Navbar Part Start ===== */

nav{
    height: 55px;
    background:black;
}
nav .box{
    display: flex;
}
nav .logo{
    width: 20%;
    height: 50px;
    margin-top: 14px;
    /* background: red; */
}
nav .nav-item{
    width: 80%;
    height: 50px;
    /* background: green; */
}
nav .nav-item ul{
    text-align: right;
    margin-top: 15px;
}
nav .nav-item ul li{
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    margin: 0 15px;
}
nav .nav-item ul li:hover{
    color: red;
}
/* ======= Navbar Part End ===== */


/* ======= Banner Part Start ===== */
#banner-part{
    height: 700px;
    background: url(../images/banner.png) no-repeat center;
    background-size: cover;

}
.banner-box{
    display: flex;
    
}
/* .banner-left .banner-img{
    background: url(../images/banner-logo.png);
} */
.banner-log{
    height: 57px;
    width: 145px;
}
.banner-left{
    width: 70%;
    height: 100px;
    /* background: red; */
    margin-top: 172px;
}
.banner-left h2{
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: 500;
    color: #ffff;
    margin-top: 10px;
    width: 518px;
    line-height: 43px;
}
.banner-left .arrow{
    display: inline-block;
    width: 75px;
    height: 2px;
    background: #fff;
}
.banner-left p{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #ffff;
    margin-top: 24px;
    width: 740px;
    line-height: 24px;
    opacity: .5;
}
.banner-left a{
    display: inline-block;
    /* background: red; */
    color: #ffff;
    border: 1px solid #fff;
    padding: 7px 25px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-top: 40px;
    transition: .4s;
}
.banner-left a:hover{
    background: red;
    transform: scale(1.3);

    border: none;
}
.banner-right{
    width: 30%;
    height: 100px;
    background: green;
    margin-top: 172px;
}
/* ======= Banner Part End ===== */

/* ======= Social Part Start ===== */
#social-part{
    border-bottom: 1px solid #a4a5a8;
}
.social{
    display: flex;
    background: #ffffff;
    
}
.left-social{
    height: 98px;
    width: 35%;
    margin-top: 15px;
    /* background: red; */
}
.left-social h2{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
}
.left-social p{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-top: 10px;
    opacity: .7;
}
.right-social{
    height: 70px;
    width: 65%;
    margin-top: 30px;
    /* background: green; */
}
.right-social a {
    font-size: 40px;
    color: #a4a5a8;
    padding: 20px 15px;
    /* transform: scale(1.3); */
    
} 

.right-social a:hover {
    color: #0d6efd;
    
    /* transition: .4s; */
} 

/* ======= Social Part End ===== */

/* ======= Tabs Part Start ===== */
#tabs-part{
    background: #F5F5F5;
    height: 500px;
}
.tabs{
    display: flex;
    
    
}
.left-tabs-box{
    margin-top: 85px;
}
.right-tabs{
    margin-top: 70px;
    margin-right: 10px;
}
.left-tabs p {
    margin-top: 60px;
}
.left-tabs{
    margin-top: 80px;
}
.left-tabs button{
    padding: 10px 25px;
    background: #ff9b51;
    border: none;
    border-radius: 5px;
    margin-top: 30px;
    
}
.left-tabs button:hover{
    background: #000;
    
}
.left-tabs button a {
    color: #fff;
    
}
.box1{
    height: 80px;
    width: 80px;
    background: #ff9b51;
    cursor: pointer;
}
.box2{
    height: 80px;
    width: 80px;
    background: #ff9b51;
    margin-top: 5px;
    cursor: pointer;
    text-align: center;
}
.box3{
    height: 80px;
    width: 80px;
    background: #ff9b51;
    margin-top: 5px;
    cursor: pointer;
}
.left-tabs-box{
    height: 100px;
    width: 13%;
    /* background: hotpink; */
    
}
.left-tabs-box h2{
    color: #fff;
    
    
}
.left-tabs{
        height: 100px;
        width: 45%;
        /* background: red; */
    }
.left-tabs h3{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    }
.left-tabs p{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    }
    .left-tabs .nextp{
        margin-top: 25px;
    }
.right-tabs{
        height: 100px;
        width: 35%;
        /* background: green; */
    }
 .left-tabs .btn{
        display: inline-block;
        /* background: red; */
        color: #ffff;
        border: 1px solid #fff;
        padding: 7px 25px;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        font-weight: 400;
        margin-top: 40px;
        transition: .4s; 
    }
    .left-tabs .btn:hover{
        background: red;
        transform: scale(1.3);
    
        border: none;
    }
/* ======= Tabs Part End ===== */